# Cleaning the Dataframes Per Each Chain

test notebook

*delete before submission*

In [23]:
import pandas as pd
import numpy as np

from pricefinder import *

In [24]:
test = PriceFinder()

print(test)

The fast food chains used in this class are: arbys, bk, bojangles, canes, cfa, deltaco, dominos, fiveguys, kfc, littlecaesars, mcdonalds, papajohns, pizzahut, popeyes, sonic, steaknshake, tacobell, wendys, zaxbys

In [25]:
# TESTING CLASS FUNCTIONS 

# reading all sets into pandas DataFrames
arbys = pd.read_csv("datasets/arbys.csv")
bk = pd.read_csv("datasets/bk.csv")
bojangles = pd.read_csv("datasets/bojangles.csv")
canes = pd.read_csv("datasets/canes.csv")
cfa = pd.read_csv("datasets/cfa.csv")
deltaco = pd.read_csv("datasets/deltaco.csv")
dominos = pd.read_csv("datasets/dominos.csv")
fiveguys = pd.read_csv("datasets/fiveguys.csv")
kfc = pd.read_csv("datasets/kfc.csv")
littlecaesars = pd.read_csv("datasets/littlecaesars.csv")
mcdonalds = pd.read_csv("datasets/mcdonalds.csv")
papajohns = pd.read_csv("datasets/papajohns.csv")
pizzahut = pd.read_csv("datasets/pizzahut.csv")
popeyes = pd.read_csv("datasets/popeyes.csv")
sonic = pd.read_csv("datasets/sonic.csv")
steaknshake = pd.read_csv("datasets/steaknshake.csv")
tacobell = pd.read_csv("datasets/tacobell.csv")
wendys = pd.read_csv("datasets/wendys.csv")
zaxbys = pd.read_csv("datasets/zaxbys.csv")

        # creating an iterable list of all the dataframes
chain_collection = [arbys, bk, bojangles, canes, cfa, deltaco, dominos, fiveguys, kfc, littlecaesars, mcdonalds, papajohns, pizzahut, popeyes, sonic, steaknshake, tacobell, wendys, zaxbys ]

chain_collection_list= ["arbys", "bk", "bojangles", "canes", "cfa", "deltaco", "dominos", "fiveguys", "kfc", "littlecaesars", "mcdonalds", "papajohns", "pizzahut", "popeyes", "sonic", "steaknshake", "tacobell", "wendys", "zaxbys"]

foods = [ 'nugget','finger', 'burger', 'chicken sandwhich', 'chicken sandwich', 'fries', 'salads', 'pizza', 'tacos', 'tacos', 'burritos', 'nachos', 'breadsticks' ]
drinks = [ 'drink', 'bottled water', 'lemonade', 'sweet tea' ]
desserts = [ 'milkshakes', 'cookies']

In [26]:
options = [test.foods[0],test.drinks[0]]
chain = "cfa"

        # self is taken from our class (this contains all chain dataframes)
        # chain is a STRING of the specific fast-food chain the user selected to find the cheapest prices for 
        # options is a LIST of STRINGS containing all of the user's picks 
        
        # finding the index for the chain the user selected in the chain_collection

one_option = pd.DataFrame({'Type': [], 'Food': [], 'Size': [], 'Price':[]}) # will help us combine all menu items for the options for EVERY chain

for i, item in enumerate(chain_collection_list):
    if item == chain:
        index = i
        break

        
        # grabbing the dataframe for the chosen resturant
df = chain_collection[index]

        # removing any 'meal' or 'combo' items (we are going to make own combos!)
df = df[~df['Food'].str.contains('combo', case=False, na=False)]
df = df[~df['Food'].str.contains('meal', case=False, na=False)]
df = df[~df['Food'].str.contains('upsize', case=False, na=False)]
df = df[~df['Food'].str.contains('limited', case=False, na=False)]
df = df[~df['Type'].str.contains('combo', case=False, na=False)]
df = df[~df['Type'].str.contains('limited', case=False, na=False)]

o = {} # dictionary that helps us collect the menu items for the options 

    # finding all the desired food
for j, item in enumerate(options): # loops once through each item in the 'options' list 
        # finding all the desired food

        # using a mask to filter through the dataframe to choose only what the user picked
        if df['Food'].str.contains(item, case=False, na=False).any() == True: # making sure that the chain has a menu item for the user's option

            slice = df[df['Food'].str.contains(item, case=False, na=False)] # filtering out desired food type using a mask
        
            min_index = slice['Price'].idxmin()
            min_row = df.loc[min_index]
            o.update({chain_collection_list[i]+str(j): min_row})  # adding all menu items the chain has for the desired food and adding that slice to the o dictionary 

            
this_chain = pd.DataFrame(o)
this_chain = this_chain.transpose()

one_option = pd.concat((one_option,this_chain))


        # this will return a list with all availabe menu items matching each option submitted 
        # Each index is a dataframe slice that corresponds with the index of the submitted option list  
one_option

           Type                 Food   Size Price
cfa0      Meals  Chick-fil-A Nuggets  8 Pc.  3.17
cfa1  Beverages          Soft Drinks  Small   1.4

In [27]:
cfa = test.one_chain('cfa', options = [test.foods[0],test.drinks[0]])

cfa

array([['Meals', 'Chick-fil-A Nuggets', '8 Pc.', 3.17],
       ['Beverages', 'Soft Drinks', 'Small', 1.4]], dtype=object)

In [28]:
options = [foods[0], drinks[0]]

all_options = pd.DataFrame({'Type': [], 'Food': [], 'Size': [], 'Price':[]}) # will help us combine all menu items for the options for EVERY chain


for i,chain in enumerate(chain_collection): # loops once over every restaurant dataframe in the chain_collection list 

    df = chain
    #print(chain_collection_list[i])

    # removing any 'meal' or 'combo' items (we are going to make own combos!)
    df = df[~df['Food'].str.contains('combo', case=False, na=False)]
    df = df[~df['Food'].str.contains('meal', case=False, na=False)]
    df = df[~df['Food'].str.contains('upsize', case=False, na=False)]
    df = df[~df['Food'].str.contains('limited', case=False, na=False)]
    df = df[~df['Type'].str.contains('combo', case=False, na=False)]
    df = df[~df['Type'].str.contains('limited', case=False, na=False)]

    
    o = {} # dictionary that helps us collect the menu items for the options 

    # finding all the desired food
    for j, item in enumerate(options): # loops once through each item in the 'options' list 
        #print(j)

    # using a mask to filter through the dataframe to choose only what the user picked
        if df['Food'].str.contains(item, case=False, na=False).any() == True: # making sure that the chain has a menu item for the user's option

            #print(item)

            slice = df[df['Food'].str.contains(item, case=False, na=False)] # filtering out desired food type using a mask
        
            min_index = slice['Price'].idxmin()
            min_row = df.loc[min_index]
            o.update({chain_collection_list[i]+str(j): min_row})  # adding all menu items the chain has for the desired food and adding that slice to the o dictionary 

            #print(o)
            
        this_chain = pd.DataFrame(o)
        this_chain = this_chain.transpose()
        #print(this_chain)

    all_options = pd.concat((all_options,this_chain))
    #print(all_options)

all_options

,Type,Food,Size,Price
arbys1,Snacks,Drink,Kids,1.13
bk0,Value Menu,Chicken Nuggets,4 Pc.,1.24
bk1,Value Menu,Fountain Drink,16 oz.,1.34
bojangles1,Beverages,Soft Drink,Small,1.59
canes1,Drinks,Fountain Drink,Kids (12 oz.),1.03
cfa0,Meals,Chick-fil-A Nuggets,8 Pc.,3.17
cfa1,Beverages,Soft Drinks,Small,1.4
deltaco1,Desserts & Drinks,Soft Drink,Small,1.79
kfc0,Promotions,$10 Popcorn Nuggets,NaN,10.4
kfc1,Drinks,Soft Drink,Medium,1.76
mcdonalds0,"Happy MealsIncludes Kids French Fries, Side & ...",Chicken McNuggets,4 Pc.,3.42
mcdonalds1,$1 $2 $3 Menu,Soft Drink,Small,1.04
popeyes0,Kids MealsIncludes Regular Side & Kids Drink,Nuggets,4 Pc.,3.53
popeyes1,Drinks,Soft Drink,Small,2.07
sonic1,Everyday Deals,Soft Drink,Small,1.24
steaknshake1,Kids’ MealsIncludes Soft Drink or Apple Juice ...,Kids’ Soft Drink,NaN,1.24
tacobell1,Drinks,Soft Drink,16 oz.,1.55
wendys0,Right Price Right Size Menu,4 Pc. Regular or Spicy Chicken Nuggets,NaN,1.03
wendys1,Right Price Right Size Menu,Value Soft Drink,NaN,1.03
zaxbys1,Beverages,Drink,Small,1.69

In [29]:
for i, item in enumerate(options):
    all_options[item] = all_options[all_options['Food'].str.contains(item, case=False, na=False)]['Food']

all_options.drop(columns=['Food'], inplace=True)

for i, item in enumerate(options):  
    all_options.insert(i, item, all_options.pop(item))

all_options = all_options.reset_index()
all_options = all_options.rename({'index': 'chain'}, axis=1) # taking the chain names out of the index and making them a seperate column

all_options["chain"] = all_options["chain"].str.slice(stop=-1)

all_options = all_options.to_numpy() # converting to numpy array so it becomes hashable 
all_options

array([['arbys', nan, 'Drink', 'Snacks', 'Kids', 1.13],
       ['bk', 'Chicken Nuggets', nan, 'Value Menu', '4 Pc.', 1.24],
       ['bk', nan, 'Fountain Drink', 'Value Menu', '16 oz.', 1.34],
       ['bojangles', nan, 'Soft Drink', 'Beverages', 'Small', 1.59],
       ['canes', nan, 'Fountain Drink', 'Drinks', 'Kids (12 oz.)', 1.03],
       ['cfa', 'Chick-fil-A Nuggets', nan, 'Meals', '8 Pc.', 3.17],
       ['cfa', nan, 'Soft Drinks', 'Beverages', 'Small', 1.4],
       ['deltaco', nan, 'Soft Drink', 'Desserts & Drinks', 'Small', 1.79],
       ['kfc', '$10 Popcorn Nuggets', nan, 'Promotions', nan, 10.4],
       ['kfc', nan, 'Soft Drink', 'Drinks', 'Medium', 1.76],
       ['mcdonalds', 'Chicken McNuggets', nan,
        'Happy MealsIncludes Kids French Fries, Side & Drink', '4 Pc.',
        3.42],
       ['mcdonalds', nan, 'Soft Drink', '$1 $2 $3 Menu', 'Small', 1.04],
       ['popeyes', 'Nuggets', nan,
        'Kids MealsIncludes Regular Side & Kids Drink', '4 Pc.', 3.53],
       ['popeyes', nan, 'Soft Drink', 'Drinks', 'Small', 2.07],
       ['sonic', nan, 'Soft Drink', 'Everyday Deals', 'Small', 1.24],
       ['steaknshake', nan, 'Kids’ Soft Drink',
        'Kids’ MealsIncludes Soft Drink or Apple Juice and Choice of Fries or Applesauce',
        nan, 1.24],
       ['tacobell', nan, 'Soft Drink', 'Drinks', '16 oz.', 1.55],
       ['wendys', '4 Pc. Regular or Spicy Chicken Nuggets', nan,
        'Right Price Right Size Menu', nan, 1.03],
       ['wendys', nan, 'Value Soft Drink', 'Right Price Right Size Menu',
        nan, 1.03],
       ['zaxbys', nan, 'Drink', 'Beverages', 'Small', 1.69]], dtype=object)

In [30]:
type(all_options)

numpy.ndarray

In [31]:
all = test.all_chain([foods[0], drinks[0]])
all

array([['arbys', nan, 'Drink', 'Snacks', 'Kids', 1.13],
       ['bk', 'Chicken Nuggets', nan, 'Value Menu', '4 Pc.', 1.24],
       ['bk', nan, 'Fountain Drink', 'Value Menu', '16 oz.', 1.34],
       ['bojangles', nan, 'Soft Drink', 'Beverages', 'Small', 1.59],
       ['canes', nan, 'Fountain Drink', 'Drinks', 'Kids (12 oz.)', 1.03],
       ['cfa', 'Chick-fil-A Nuggets', nan, 'Meals', '8 Pc.', 3.17],
       ['cfa', nan, 'Soft Drinks', 'Beverages', 'Small', 1.4],
       ['deltaco', nan, 'Soft Drink', 'Desserts & Drinks', 'Small', 1.79],
       ['kfc', '$10 Popcorn Nuggets', nan, 'Promotions', nan, 10.4],
       ['kfc', nan, 'Soft Drink', 'Drinks', 'Medium', 1.76],
       ['mcdonalds', 'Chicken McNuggets', nan,
        'Happy MealsIncludes Kids French Fries, Side & Drink', '4 Pc.',
        3.42],
       ['mcdonalds', nan, 'Soft Drink', '$1 $2 $3 Menu', 'Small', 1.04],
       ['popeyes', 'Nuggets', nan,
        'Kids MealsIncludes Regular Side & Kids Drink', '4 Pc.', 3.53],
       ['popeyes', nan, 'Soft Drink', 'Drinks', 'Small', 2.07],
       ['sonic', nan, 'Soft Drink', 'Everyday Deals', 'Small', 1.24],
       ['steaknshake', nan, 'Kids’ Soft Drink',
        'Kids’ MealsIncludes Soft Drink or Apple Juice and Choice of Fries or Applesauce',
        nan, 1.24],
       ['tacobell', nan, 'Soft Drink', 'Drinks', '16 oz.', 1.55],
       ['wendys', '4 Pc. Regular or Spicy Chicken Nuggets', nan,
        'Right Price Right Size Menu', nan, 1.03],
       ['wendys', nan, 'Value Soft Drink', 'Right Price Right Size Menu',
        nan, 1.03],
       ['zaxbys', nan, 'Drink', 'Beverages', 'Small', 1.69]], dtype=object)

In [32]:
df_all = pd.DataFrame(all)
df_all

,0,1,2,3,4,5
0,arbys,NaN,Drink,Snacks,Kids,1.13
1,bk,Chicken Nuggets,NaN,Value Menu,4 Pc.,1.24
2,bk,NaN,Fountain Drink,Value Menu,16 oz.,1.34
3,bojangles,NaN,Soft Drink,Beverages,Small,1.59
4,canes,NaN,Fountain Drink,Drinks,Kids (12 oz.),1.03
5,cfa,Chick-fil-A Nuggets,NaN,Meals,8 Pc.,3.17
6,cfa,NaN,Soft Drinks,Beverages,Small,1.4
7,deltaco,NaN,Soft Drink,Desserts & Drinks,Small,1.79
8,kfc,$10 Popcorn Nuggets,NaN,Promotions,NaN,10.4
9,kfc,NaN,Soft Drink,Drinks,Medium,1.76
10,mcdonalds,Chicken McNuggets,NaN,"Happy MealsIncludes Kids French Fries, Side & ...",4 Pc.,3.42
11,mcdonalds,NaN,Soft Drink,$1 $2 $3 Menu,Small,1.04
12,popeyes,Nuggets,NaN,Kids MealsIncludes Regular Side & Kids Drink,4 Pc.,3.53
13,popeyes,NaN,Soft Drink,Drinks,Small,2.07
14,sonic,NaN,Soft Drink,Everyday Deals,Small,1.24
15,steaknshake,NaN,Kids’ Soft Drink,Kids’ MealsIncludes Soft Drink or Apple Juice ...,NaN,1.24
16,tacobell,NaN,Soft Drink,Drinks,16 oz.,1.55
17,wendys,4 Pc. Regular or Spicy Chicken Nuggets,NaN,Right Price Right Size Menu,NaN,1.03
18,wendys,NaN,Value Soft Drink,Right Price Right Size Menu,NaN,1.03
19,zaxbys,NaN,Drink,Beverages,Small,1.69

In [38]:
select_items = ["nugget", "drink"]
chain_select = "bk"

if chain_select != "chain_collection":
    selection = test.one_chain(chain_select, select_items)
    df = pd.DataFrame(selection) 

elif chain_select == "chain_collection":
    selections = test.all_chain(select_items)
    df = pd.DataFrame(selections) 

df

            0                1       2     3
0  Value Menu  Chicken Nuggets   4 Pc.  1.24
1  Value Menu   Fountain Drink  16 oz.  1.34