# Cleaning the Dataframes Per Each Chain

test notebook

*delete before submission*

In [1400]:
import pandas as pd
import numpy as np

from pricefinder import *

In [1401]:
test = PriceFinder()

print(test)

The fast food chains used in this class are: arbys, bk, bojangles, canes, cfa, deltaco, dominos, fiveguys, kfc, littlecaesars, mcdonalds, papajohns, pizzahut, popeyes, sonic, steaknshake, tacobell, wendys, zaxbys

In [1402]:
# TESTING CLASS FUNCTIONS 

# reading all sets into pandas DataFrames
arbys = pd.read_csv("datasets/arbys.csv")
bk = pd.read_csv("datasets/bk.csv")
bojangles = pd.read_csv("datasets/bojangles.csv")
canes = pd.read_csv("datasets/canes.csv")
cfa = pd.read_csv("datasets/cfa.csv")
deltaco = pd.read_csv("datasets/deltaco.csv")
dominos = pd.read_csv("datasets/dominos.csv")
fiveguys = pd.read_csv("datasets/fiveguys.csv")
kfc = pd.read_csv("datasets/kfc.csv")
littlecaesars = pd.read_csv("datasets/littlecaesars.csv")
mcdonalds = pd.read_csv("datasets/mcdonalds.csv")
papajohns = pd.read_csv("datasets/papajohns.csv")
pizzahut = pd.read_csv("datasets/pizzahut.csv")
popeyes = pd.read_csv("datasets/popeyes.csv")
sonic = pd.read_csv("datasets/sonic.csv")
steaknshake = pd.read_csv("datasets/steaknshake.csv")
tacobell = pd.read_csv("datasets/tacobell.csv")
wendys = pd.read_csv("datasets/wendys.csv")
zaxbys = pd.read_csv("datasets/zaxbys.csv")

        # creating an iterable list of all the dataframes
chain_collection = [arbys, bk, bojangles, canes, cfa, deltaco, dominos, fiveguys, kfc, littlecaesars, mcdonalds, papajohns, pizzahut, popeyes, sonic, steaknshake, tacobell, wendys, zaxbys ]

chain_collection_list= ["arbys", "bk", "bojangles", "canes", "cfa", "deltaco", "dominos", "fiveguys", "kfc", "littlecaesars", "mcdonalds", "papajohns", "pizzahut", "popeyes", "sonic", "steaknshake", "tacobell", "wendys", "zaxbys"]

foods = [ 'nugget','finger', 'burger', 'chicken sandwhich', 'chicken sandwich', 'fries', 'salads', 'pizza', 'tacos', 'tacos', 'burritos', 'nachos', 'breadsticks' ]
drinks = [ 'drink', 'bottled water', 'lemonade', 'sweet tea' ]
desserts = [ 'milkshakes', 'cookies']

In [1403]:
options = [test.foods[0],test.drinks[0]]
chain = "cfa"

        # self is taken from our class (this contains all chain dataframes)
        # chain is a STRING of the specific fast-food chain the user selected to find the cheapest prices for 
        # options is a LIST of STRINGS containing all of the user's picks 
        
        # finding the index for the chain the user selected in the chain_collection

one_option = pd.DataFrame({'Type': [], 'Food': [], 'Size': [], 'Price':[]}) # will help us combine all menu items for the options for EVERY chain

for i, item in enumerate(chain_collection_list):
    if item == chain:
        index = i
        break

        
        # grabbing the dataframe for the chosen resturant
df = chain_collection[index]

        # removing any 'meal' or 'combo' items (we are going to make own combos!)
df = df[~df['Food'].str.contains('combo', case=False, na=False)]
df = df[~df['Food'].str.contains('meal', case=False, na=False)]
df = df[~df['Food'].str.contains('upsize', case=False, na=False)]
df = df[~df['Food'].str.contains('limited', case=False, na=False)]
df = df[~df['Type'].str.contains('combo', case=False, na=False)]
df = df[~df['Type'].str.contains('limited', case=False, na=False)]

o = {} # dictionary that helps us collect the menu items for the options 

    # finding all the desired food
for j, item in enumerate(options): # loops once through each item in the 'options' list 
        # finding all the desired food

        # using a mask to filter through the dataframe to choose only what the user picked
        if df['Food'].str.contains(item, case=False, na=False).any() == True: # making sure that the chain has a menu item for the user's option

            slice = df[df['Food'].str.contains(item, case=False, na=False)] # filtering out desired food type using a mask
        
            min_index = slice['Price'].idxmin()
            min_row = df.loc[min_index]
            o.update({chain_collection_list[i]+str(j): min_row})  # adding all menu items the chain has for the desired food and adding that slice to the o dictionary 

            
this_chain = pd.DataFrame(o)
this_chain = this_chain.transpose()

one_option = pd.concat((one_option,this_chain))
one_option = one_option.to_records(index=False)


        # this will return a list with all availabe menu items matching each option submitted 
        # Each index is a dataframe slice that corresponds with the index of the submitted option list  
one_option

rec.array([('Meals', 'Chick-fil-A Nuggets', '8 Pc.', 3.17),
           ('Beverages', 'Soft Drinks', 'Small', 1.4)],
          dtype=[('Type', 'O'), ('Food', 'O'), ('Size', 'O'), ('Price', 'O')])

In [1404]:
## aesthetics
df = pd.DataFrame(one_option)
df

        Type                 Food   Size Price
0      Meals  Chick-fil-A Nuggets  8 Pc.  3.17
1  Beverages          Soft Drinks  Small   1.4

In [1405]:
cfa = test.one_chain('cfa', options = [test.foods[0],test.drinks[0]])

cfa

array([['Meals', 'Chick-fil-A Nuggets', '8 Pc.', 3.17],
       ['Beverages', 'Soft Drinks', 'Small', 1.4]], dtype=object)

In [1406]:
options = ['nugget', 'burger']

all_options = pd.DataFrame({'Type': [], 'Food': [], 'Size': [], 'Price':[]}) # will help us combine all menu items for the options for EVERY chain


for i,chain in enumerate(chain_collection): # loops once over every restaurant dataframe in the chain_collection list 

    df = chain
    #print(chain_collection_list[i])

    # removing any 'meal' or 'combo' items (we are going to make own combos!)
    df = df[~df['Food'].str.contains('combo', case=False, na=False)]
    df = df[~df['Food'].str.contains('meal', case=False, na=False)]
    df = df[~df['Food'].str.contains('upsize', case=False, na=False)]
    df = df[~df['Food'].str.contains('limited', case=False, na=False)]
    df = df[~df['Type'].str.contains('combo', case=False, na=False)]
    df = df[~df['Type'].str.contains('limited', case=False, na=False)]

    
    o = {} # dictionary that helps us collect the menu items for the options 

    # finding all the desired food
    for j, item in enumerate(options): # loops once through each item in the 'options' list 
        #print(j)

        ########## new
        price = 0
        ##########

    # using a mask to filter through the dataframe to choose only what the user picked
        if df['Food'].str.contains(item, case=False, na=False).any() == True: # making sure that the chain has a menu item for the user's option
            ########## new
            this_price = 0
            ##########

            #print(item)

            slice = df[df['Food'].str.contains(item, case=False, na=False)] # filtering out desired food type using a mask
        
            min_index = slice['Price'].idxmin()
            min_row = df.loc[min_index]
            o.update({chain_collection_list[i]+str(j): min_row})  # adding all menu items the chain has for the desired food and adding that slice to the o dictionary 
            
            ########## new
            price+=this_price
            ########## 

            #print(o)
            
        this_chain = pd.DataFrame(o)
        this_chain = this_chain.transpose()
        
    #all_options = pd.concat((all_options,this_chain))
    #print(all_options)

#all_options

Empty DataFrame
Columns: []
Index: []

In [1407]:
for i, item in enumerate(options):
    all_options[item] = all_options[all_options['Food'].str.contains(item, case=False, na=False)]['Food']

all_options.drop(columns=['Food'], inplace=True)

for i, item in enumerate(options):  
    all_options.insert(i, item, all_options.pop(item))

all_options = all_options.reset_index()
all_options = all_options.rename({'index': 'chain'}, axis=1) # taking the chain names out of the index and making them a seperate column

all_options["chain"] = all_options["chain"].str.slice(stop=-1)

all_options = all_options.to_records(index=False) # converting to numpy array so it becomes hashable 
all_options

AttributeError: Can only use .str accessor with string values!

In [ ]:
df = pd.DataFrame(all_options)
df

,chain,nugget,burger,Type,Size,Price
0,bk,Chicken Nuggets,NaN,Value Menu,4 Pc.,1.24
1,bk,NaN,Hamburger,Value Menu,NaN,1.04
2,cfa,Chick-fil-A Nuggets,NaN,Meals,8 Pc.,3.17
3,deltaco,NaN,Cheeseburger,American Grill,NaN,1.79
4,dominos,NaN,Bacon Cheeseburger Feast® (Hand Tossed or Thin...,Feast Pizzas,Small (10″),12.47
5,fiveguys,NaN,Little Hamburger,Burgers,NaN,5.19
6,kfc,$10 Popcorn Nuggets,NaN,Promotions,NaN,10.4
7,mcdonalds,Chicken McNuggets,NaN,"Happy MealsIncludes Kids French Fries, Side & ...",4 Pc.,3.42
8,mcdonalds,NaN,2 Cheeseburgers,BurgersMeals Include Medium French Fries or Sa...,NaN,2.08
9,papajohns,NaN,Bacon Cheeseburger (Original),PizzasOriginal and Thin Crust Choices,Medium,16.64
10,pizzahut,NaN,BBQ Bacon Cheeseburger (Hand-Tossed),New Recipe Pizzas,Medium,12.47
11,popeyes,Nuggets,NaN,Kids MealsIncludes Regular Side & Kids Drink,4 Pc.,3.53
12,sonic,NaN,Jr. Deluxe Burger,Everyday Deals,NaN,1.45
13,steaknshake,NaN,Steakburger Shooter,Salads ‘n Sandwiches,NaN,0.93
14,wendys,4 Pc. Regular or Spicy Chicken Nuggets,NaN,Right Price Right Size Menu,NaN,1.03
15,wendys,NaN,Jr. Cheeseburger,Right Price Right Size Menu,NaN,1.03

In [ ]:
select_items = ["nugget", "burger"]
## trying to find more options for price finder
for i, items in enumerate(select_items):
    df[items + "(size)"] = df.apply(lambda x: str(x[i+1]) + " (" + str(x['Size']) + ")" if x[i+1] and x['Size'] else '', axis=1)
    df = df.drop(columns = [items], axis = 1)
    
df = df.drop(columns = ['Size', 'Type'], axis =1)
df

,chain,Price,nugget(size),burger(size)
0,bk,1.24,Chicken Nuggets (4 Pc.),Value Menu (4 Pc.)
1,bk,1.04,nan (nan),Value Menu (nan)
2,cfa,3.17,Chick-fil-A Nuggets (8 Pc.),Meals (8 Pc.)
3,deltaco,1.79,nan (nan),American Grill (nan)
4,dominos,12.47,nan (Small (10″)),Feast Pizzas (Small (10″))
5,fiveguys,5.19,nan (nan),Burgers (nan)
6,kfc,10.4,$10 Popcorn Nuggets (nan),Promotions (nan)
7,mcdonalds,3.42,Chicken McNuggets (4 Pc.),"Happy MealsIncludes Kids French Fries, Side & ..."
8,mcdonalds,2.08,nan (nan),BurgersMeals Include Medium French Fries or Sa...
9,papajohns,16.64,nan (Medium),PizzasOriginal and Thin Crust Choices (Medium)
10,pizzahut,12.47,nan (Medium),New Recipe Pizzas (Medium)
11,popeyes,3.53,Nuggets (4 Pc.),Kids MealsIncludes Regular Side & Kids Drink (...
12,sonic,1.45,nan (nan),Everyday Deals (nan)
13,steaknshake,0.93,nan (nan),Salads ‘n Sandwiches (nan)
14,wendys,1.03,4 Pc. Regular or Spicy Chicken Nuggets (nan),Right Price Right Size Menu (nan)
15,wendys,1.03,nan (nan),Right Price Right Size Menu (nan)

In [ ]:

# replace all instances of nan (aesthetics)
df = df.applymap(lambda x: x.replace('nan', 'none') if isinstance(x, str) else x)
df

,chain,Price,nugget(size),burger(size)
0,bk,1.24,Chicken Nuggets (4 Pc.),Value Menu (4 Pc.)
1,bk,1.04,none (none),Value Menu (none)
2,cfa,3.17,Chick-fil-A Nuggets (8 Pc.),Meals (8 Pc.)
3,deltaco,1.79,none (none),American Grill (none)
4,dominos,12.47,none (Small (10″)),Feast Pizzas (Small (10″))
5,fiveguys,5.19,none (none),Burgers (none)
6,kfc,10.40,$10 Popcorn Nuggets (none),Promotions (none)
7,mcdonalds,3.42,Chicken McNuggets (4 Pc.),"Happy MealsIncludes Kids French Fries, Side & ..."
8,mcdonalds,2.08,none (none),BurgersMeals Include Medium French Fries or Sa...
9,papajohns,16.64,none (Medium),PizzasOriginal and Thin Crust Choices (Medium)
10,pizzahut,12.47,none (Medium),New Recipe Pizzas (Medium)
11,popeyes,3.53,Nuggets (4 Pc.),Kids MealsIncludes Regular Side & Kids Drink (...
12,sonic,1.45,none (none),Everyday Deals (none)
13,steaknshake,0.93,none (none),Salads ‘n Sandwiches (none)
14,wendys,1.03,4 Pc. Regular or Spicy Chicken Nuggets (none),Right Price Right Size Menu (none)
15,wendys,1.03,none (none),Right Price Right Size Menu (none)

In [ ]:
# dunno if i add yet 

substring = 'none ('

df = df[~df.applymap(lambda x: isinstance(x, str) and substring in x).any(axis=1)]

df = df.set_index('chain')
df = df.assign(**{df.columns[0]: df.pop(df.columns[0]).shift(-1)})
df = df.reset_index()
df = df.rename({'chain': 'Chain'}, axis=1)

df.sort_values(by='Price', ascending=True, inplace=True)

df = df.dropna()

df

,Chain,nugget(size),burger(size),Price
4,popeyes,Nuggets (4 Pc.),Kids MealsIncludes Regular Side & Kids Drink (...,1.03
0,bk,Chicken Nuggets (4 Pc.),Value Menu (4 Pc.),3.17
2,kfc,$10 Popcorn Nuggets (none),Promotions (none),3.42
3,mcdonalds,Chicken McNuggets (4 Pc.),"Happy MealsIncludes Kids French Fries, Side & ...",3.53
1,cfa,Chick-fil-A Nuggets (8 Pc.),Meals (8 Pc.),10.40